{% extends "core/base.html" %}
{% load static %}

{% block title %} SmartEDX — Login {% endblock %}

{% block content %}

    <div id="content-div">
        <sl-card class="card-basic" >

            <div slot="header" style="display: flex; align-items: center; justify-content: center; height: 20vh;">
                <div style="display: flex; flex-direction: column; align-items: center;">
                    <img src="{% static 'core/img/logo-text.png' %}" alt="smartedx logo" height="65" width="65">
                    <div style="margin-top: 1rem; font-size: small; color: #1535a4;">
                        Smart Learning for a Smart Future
                    </div>
                </div>
            </div>
    
            <form method="post" action="/login/">
                {% csrf_token %}
            
                <sl-input label="Username" name="username" type="text" required autofocus autocapitalize="none" autocomplete="username" maxlength="150" size="small" value="{% if form.username.value != None %}{{ form.username.value }}{% endif %}">
                </sl-input>
                {% for error in form.username.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
            
                <sl-input label="Password" name="password" type="password" required autocomplete="current-password" password-toggle size="small" style="margin-top: 1vw; margin-bottom: 0.5vw;" value="{% if form.password.value != None %}{{ form.password.value }}{% endif %}">
                </sl-input>
                {% for error in form.password.errors %}
                    <div class="error">{{ error }}</div>
                {% endfor %}
    
                <a href='/logout/' style="font-size: small; color: #1535a4">Forgot Password?</a>
            
                <sl-button type="submit" variant="neutral" class="black" size="small" style="width:100%; margin-top: 10px;"> 
                    <span style="font-size: 1.2em;"> Login </span> 
                </sl-button>
            </form>

            <sl-divider></sl-divider>
    
            {% if form.non_field_errors %}
                <sl-alert variant="danger" open>
                    <sl-icon slot="icon" name="exclamation-circle"></sl-icon>
                    {% for error in form.non_field_errors %}
                        <div class="error">{{ error }}</div>
                    {% endfor %}
                </sl-alert> 
            {% endif %}
            
        </sl-card>
        <span style="margin-top: 3vh !important; font-size: small; color: #6378c5 !important;" >
            <a href='/logout/' style="color: #6378c5 !important;">Contact Administrator</a>
            |
            <a href='/logout/' style="color: #6378c5 !important;">Report Issue</a>
        </span>
    </div>
    
    <style>
        /* removes asterisk for required inputs */
        sl-input::part(form-control-label)::after {
            display: none !important;
        }
        /* .card-basic {
            box-shadow: 0 4px 8px rgba(18, 71, 186, 0.3);
        } */
        #body-container{
            height: 100%;
            width: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #content-div {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; 
        }
        /* Small Devices, Tablets */
        @media only screen and (max-width : 768px) {
            sl-card {
                max-width: 70vw;
                min-width: 70vw;
            }
            #content-div {
                margin-top: -15vh; /* a bit higher rather than the exact center */
            }
        }

        /* Medium Devices, Desktops */
        @media only screen and (min-width : 769px) {
            sl-card {
                max-width: 25vw;
                min-width: 25vw;
            }
        }
    </style>  

{% endblock %}

{% block footer %}
    <footer>
        <a href='/logout/' style="font-size: small; color: #6378c5"> SmartEDX &copy </a>
    </footer>
{% endblock %}