{% load static %}

<!DOCTYPE html>

<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %} StudentName — Home {% endblock %}</title>

        <!-- CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.1/cdn/themes/light.css" />
        <link rel="stylesheet" href="{% static 'core/css/fonts.css' %}?{% now 'U' %}">
        <link rel="stylesheet" href="{% static 'core/css/student_base.css' %}?{% now 'U' %}">

        <!-- Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap" rel="stylesheet">

        <style>

        </style>
        
    </head>

    <body class="ubuntu-regular">

        <div class="navbar-crown">&nbsp;</div>
        <div class="navbar">
            
            <!-- Mobile Navbar -->
            <div class="mobile-menu">
                <sl-icon-button id="menu-drawer-open-btn" src="{% static 'core/img/boxicons/bars-solid.svg' %}" style="margin-left: 2vw;"></sl-icon-button>
                <ul class="mobile-links">
                    <li>
                        <sl-icon-button class="search-dialog-open-btn" src="{% static 'core/img/boxicons/bx-search.svg' %}"></sl-icon-button>
                    </li>
                    <li>
                        <sl-icon-button class="notification-drawer-open-btn" src="{% static 'core/img/boxicons/bxs-bell.svg' %}"></sl-icon-button>
                    </li>
                    <li>
                        <sl-dropdown>
                            <sl-icon-button slot="trigger" caret src="{% static 'core/img/boxicons/bxs-user-circle.svg' %}"></sl-icon-button>
                            <sl-menu>
                              <sl-menu-item>Dropdown Item 1</sl-menu-item>
                              <sl-menu-item>Dropdown Item 2</sl-menu-item>
                              <sl-menu-item>Dropdown Item 3</sl-menu-item>
                              <sl-divider></sl-divider>
                              <sl-menu-item type="checkbox" checked>Checkbox</sl-menu-item>
                              <sl-menu-item disabled>Disabled</sl-menu-item>
                              <sl-divider></sl-divider>
                              <sl-menu-item>
                                Prefix
                                <sl-icon slot="prefix" name="gift"></sl-icon>
                              </sl-menu-item>
                              <sl-menu-item>
                                Suffix Icon
                                <sl-icon slot="suffix" name="heart"></sl-icon>
                              </sl-menu-item>
                            </sl-menu>
                          </sl-dropdown>                          
                    </li>
                </ul>
            </div>
    
            <!-- Desktop Navbar -->
            <ul class="navbar-links desktop-links ubuntu-regular">
                <li><span>School Name</span></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Dashboard</a></li>
                <li><a href="{% url 'core:student-my-courses' %}">My Courses</a></li>
                <li>
                    <sl-icon-button class="search-dialog-open-btn" src="{% static 'core/img/boxicons/bx-search.svg' %}"></sl-icon-button>
                </li>
                <li>
                    <sl-icon-button class="notification-drawer-open-btn" src="{% static 'core/img/boxicons/bxs-bell.svg' %}"></sl-icon-button>
                </li>
                <li>
                    <sl-dropdown>
                        <sl-icon-button slot="trigger" caret src="{% static 'core/img/boxicons/bxs-user-circle.svg' %}"></sl-icon-button>
                        <sl-menu>
                          <sl-menu-item>Dropdown Item 1</sl-menu-item>
                          <sl-menu-item>Dropdown Item 2</sl-menu-item>
                          <sl-menu-item>Dropdown Item 3</sl-menu-item>
                          <sl-divider></sl-divider>
                          <sl-menu-item type="checkbox" checked>Checkbox</sl-menu-item>
                          <sl-menu-item disabled>Disabled</sl-menu-item>
                          <sl-divider></sl-divider>
                          <sl-menu-item>
                            Prefix
                            <sl-icon slot="prefix" name="gift"></sl-icon>
                          </sl-menu-item>
                          <sl-menu-item>
                            Suffix Icon
                            <sl-icon slot="suffix" name="heart"></sl-icon>
                          </sl-menu-item>
                        </sl-menu>
                      </sl-dropdown>  
                </li>
            </ul>
        </div>

        <!-- menu drawer -->
        <sl-drawer label="Central University of Jammu" placement="start" id="menu-drawer" style="--size: 70vw;">
            <div id="menu-content"> 
                <ul style="list-style-type: none; padding: 0;">
                    <li><a href="#link1">Home</a></li>
                    <li><a href="#link2">Dashboard</a></li>
                    <li><a href="{% url 'core:student-my-courses' %}">My Courses</a></li>
                    <li><a href="#link4">Link 4</a></li>
                    <li><a href="#link5">Link 5</a></li>
                </ul>
            </div>
            <sl-button id="menu-drawer-close-btn" slot="footer" variant="primary">Log Out</sl-button>
        </sl-drawer>

        <!-- notification drawer -->
        <sl-drawer label="Notifications" id="notification-drawer" style="--size: 50vw;">
            <h3>Notifications</h3>
        </sl-drawer>

        <!-- search button dialog -->
        <sl-dialog label="Search" id="search-dialog" style="--width: 50vw;">
            Search
        </sl-dialog>

        <div id="body-container" class="ubuntu-regular">
            {% block content %}
            {% endblock %}
        </div>

        {% block footer %}
        {% endblock %}

        <!-- Shoelace JS -->
        <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.15.1/cdn/shoelace-autoloader.js"></script>

        <script type="module">
            // Replace 'my-button', 'my-card', and 'my-rating' with your custom element names
            Promise.allSettled([
              customElements.whenDefined('sl-button'),
              customElements.whenDefined('sl-icon'),
              customElements.whenDefined('sl-dropdown')
            ]).then(() => {
              // Add the 'ready' class to fade in the body once all elements are defined
              document.body.classList.add('ready');
            });
          </script>
          

        <!-- menu drawer script  -->
        <script>
            const drawer_m = document.querySelector('#menu-drawer');  
            const draw_m_o = document.querySelector('#menu-drawer-open-btn');
            const draw_m_c = drawer_m.querySelector('#menu-drawer-close-btn');
          
            draw_m_o.addEventListener('click', () => drawer_m.show());
            draw_m_c.addEventListener('click', () => drawer_m.hide());
        </script>

        <!-- search dialog script -->
        <script>
            const search_d = document.querySelector('#search-dialog');
            const search_d_o = document.querySelectorAll('.search-dialog-open-btn');
          
            search_d_o.forEach(button => {
                button.addEventListener('click', () => {
                    search_d.show();
                });
            })
        </script>

        <!-- notification drawer script  -->
        <script>
            const drawer_n = document.querySelector('#notification-drawer');  
            const draw_n_o = document.querySelectorAll('.notification-drawer-open-btn');
          
            draw_n_o.forEach(button => {
                button.addEventListener('click', () => {
                    drawer_n.show();
                });
            })
        </script>

    </body>

</html>